[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sanic = "*"
aiohttp = "*"
"beautifulsoup4" = "*"
sanic-cors = "*"


[requires]

python_version = "3.6"


[dev-packages]

